scipy
scikit-learn
joblib
openpyxl
pyarrow
h5py
avro-python3
toml
msgpack
pyyaml
pandas
gspread
oauth2client
pymysql
psycopg2
pyodbc
ndjson
cbor2
geojson
google-auth
google-cloud-bigquery==3.25.0
xlsxwriter
kafka-python
odfpy
fpdf
protobuf
matplotlib
tqdm
pyorc-0.9.0
